<div class="row tos-form">
  <div class="col s6">
<%= simple_form_for(@entry, as: :entry, url: @entry.persisted? ? content_entry_path(@entry) : entries_path) do |f| %>
    <%= f.hidden_field :content_type, value: @entry.content_type %>

    <%= f.datetime_field :version %>
    <%= f.input :service_type, collection: ['Terms of Use', 'Third Party Terms of Use', 'Privacy Policy', 'GLBA Privacy Policy'], prompt: 'Select Service Type' %>
    <!--
    <%= f.label :published_at %>
    <%= f.text_field :published_at %>
    -->
      <div class="input-field col s12">
        <% @entry.class.content_attributes.each do |attr_name, attr_type| %>
          <%= f.text_area attr_name, as: attr_type, class: 'materialize-textarea', placeholder: 'New Service Agreement' %>
        <% end %>
      </div>

    <%= f.button :submit %>
  <% end %>
</div>
<div class="col s5">
  <p>Preview</p>
<div id="live-preview" data-preview-url="<%= preview_path %>"></div>
</div>
</div>

<script type="text/javascript">
  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');
</script>
