<%= content_class.tableize.titleize %>

  <%= link_to "New #{content_class.titleize}", new_content_entry_path, class: 'btn btn-primary space-2' %>

  <ul class="collection">
    <% @entries.each do |entry| %>
    <li class="collection-item">
      <%= link_to entry.termsofservice, content_entry_path(entry) %>
      <%= time_ago_in_words entry.created_at %> ago
      <%= entry.version %>
      <%= link_to 'Edit', edit_content_entry_path(entry) %>
      <%= link_to 'Destroy', content_entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
