
<table class="highlight">
  <%= link_to "New #{content_class.titleize}", new_content_entry_path %>
  <thead>
    <tr>
      <th>Version</th>
      <th>Created</td>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to entry.version, content_entry_path(entry) %></td>
      <td><%= time_ago_in_words entry.created_at %> ago</td>
      <td><%= link_to 'Edit', edit_content_entry_path(entry) %>
      <%= link_to 'Destroy', content_entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
