<p>
  <strong>Content class:</strong>
  <%= @entry.type %>
</p>

<p>
  <strong>Terms of Service:</strong>
  <%= @entry.service_body %>
</p>


<% @entry.class.content_attributes.each do |attr_name, attr_type| %>
  <p>
    <strong><%= attr_name %>:</strong>
    <%= @entry.send(attr_name.to_sym) %>
  </p>
<% end %>


<%= link_to 'Edit', edit_content_entry_path(@entry) %> |
<%= link_to 'Back', content_entries_path %>
